* {
  box-sizing: border-box;
}
.gallery {
  display: flex;
  flex-direction: row;
  margin: 0;
}
.thumb {
  margin: 8px;
  flex-shrink: 1;
  flex-grow: 1;
  overflow: scroll;
  cursor: all-scroll;
  min-width: 300px;
}
