div > div {
  width: 100px;
  height: 100px;
  background: coral;
}
.container {
  display: flex;
  flex-direction: column;
}

.not_displayed {
  display: none;
}
.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
