@import 'variables.scss';

.header {
  height: $unit * 7;
  background-color: $color-grey;
  display: flex;
  flex-direction: row;

  .header__navigation {
    display: flex;
    align-items: center;
  }

  .nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 0;
    padding: 0;
  }
  .nav-list__item {
    margin-left: $unit;
    padding: $unit;
    font-weight: 700;
    color: $text-color-secondary;
    background-color: $color-secondary;
    border-radius: $border-radius;
    cursor: pointer;
  }

  .nav-list__item_selected {
    background-color: $color-primary;
  }

  .nav-list__item:hover {
    opacity: 0.7;
  }
}
