@import 'breakpoints.scss';

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  @include horizontal-orientation {
    flex-direction: row;
  }
  @include verical-orientation {
    flex-direction: column;
  }

  .square {
    width: 100px;
    height: 100px;
    margin: 8px;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #ff7f50;
    @include small-screen-size {
      background-color: #8a2be2;
    }
    @include medium-screen-size {
      background-color: #a61;
    }
    @include large-screen-size {
      background-color: #c47;
    }
  }
}
