* {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #555;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  color: white;
  text-align: center;
  background-image: linear-gradient(60deg, red, orange);
  display: inline-block;
  width: 100vw;
}

.footer {
  margin-top: auto;
  background-color: #e5e5e5;
  padding: 0.5em;
  text-align: center;
}

.navigation,
.section,
.news {
  padding: 0.5em;
}

.navigation {
  width: 20%;
  padding: 0.5em;
}

.section {
  width: 60%;
  font-size: 1.25em;
}

.news {
  width: 20%;
}

.main {
  display: flex;
}

ul {
  line-height: 1.75em;
  list-style: none;
  padding: 0;
  flex-direction: column;
}

.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-size: 1.125em;
  font-weight: 700;
}

.section__header {
  font-size: 5vw;
  text-align: center;
}

.nav-list-item {
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 2em;
  background-color: #808080;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
}

.nav-list-link {
  color: white;
  white-space: nowrap;
  text-decoration: none;
  padding: 0em 0.5em;
  overflow: hidden;
  white-space: nowpar;
  text-overflow: ellipsis;
}

.nav-list {
  padding: 0;
  display: flex;
  flex-direction: column;
}
