.header {
  background-color: #006400;

  .menu {
    height: 3em;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    position: relative;
    margin: 0;
    padding-left: 3em;

    .menu__item {
      cursor: pointer;
      line-height: 3em;
      padding: 0 8px;
    }

    .menu__item:hover {
      background-color: #9acd32;
    }
    .menu__item-text {
      text-transform: uppercase;
      color: white;
    }
    .menu__item_active > .menu__item-text {
      color: yellow;
    }
    .menu__item_active:hover {
      .submenu {
        visibility: visible;
      }
    }
  }

  .submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3em;
    margin: 0;
    padding: 0;
    visibility: hidden;
    background-color: #ff7f50;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    color: #fff;
    min-width: 120px;
    z-index: 1;
    list-style-type: none;

    .submenu__item {
      padding: 8px;
      text-transform: uppercase;
      line-height: 3em;
      cursor: pointer;
    }
    .submenu__item:hover {
      background-color: #9acd32;
      color: black;
    }
  }
}
