* {
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.header {
  display: flex;
  align-items: center;
  height: 3em;
  padding: 0em 1em;
  background-color: #eee;
}

.fa-bars {
  font-size: 2em;
}

.nav-button {
  display: flex;
  padding: 0;
  border: none;
  margin: 0;
  background: none;
  cursor: pointer;
  justify-content: center;
}

.nav-list {
  padding: 0;
  list-style: none;
  width: 20vw;
  display: flex;
  flex-direction: column;
}

.nav-list-item {
  margin-bottom: 0.5em;
  background-color: #808080;
  color: white;
  height: 2em;
  padding: 0.5em;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
}

.nav-list-link {
  color: white;
  text-decoration: none;
  white-space: nowrap;
}

@media screen and (max-width: 599px) {
  .nav-list {
    visibility: hidden;
  }
}

@media screen and (min-width: 600px) {
  .nav-button {
    visibility: hidden;
  }
}
