@import 'breakpoints.scss', 'about.scss', 'features.scss', 'header.scss',
	'variables.scss';
* {
	box-sizing: border-box;
}
html {
	font-family: 'Mulish', sans-serif;
}
body {
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(
		180deg,
		rgba(25, 104, 252, 0.0001) 0%,
		rgba(25, 104, 252, 0.05) 23.07%,
		rgba(25, 104, 252, 0.0001) 99.94%,
		rgba(25, 104, 252, 0.05) 100%
	);

	@include small-screen {
		max-width: 640px;
	}
	@include large-screen {
		max-width: 1440px;
	}
}
h1 {
	font-weight: 600;
	font-size: 40px;
	line-height: 60px;
	letter-spacing: 1px;
}
h2 {
	font-weight: 400px;
	size: 30px;
	line-height: 60px;
}

h4 {
	font-weight: 600px;
	size: 20px;
	line-height: 40px;
}

button {
	width: 320px;
	height: 50px;
	text-transform: uppercase;
	line-height: 50px;
	border: none;
}
