.text {
  position: relative;
  margin: 16px;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: black;
  text-decoration-thickness: 1px;
  box-sizing: border-box;
}
.tooltip {
  position: absolute;
  display: block;
  bottom: -40px;
  background-color: grey;
  color: white;
  border-radius: 4px;
  padding: 8px;
  box-sizing: border-box;
  display: none;
}
.text:hover .tooltip {
  display: block;
}
