$unit: 8px;
$sm: 600px;
$md: 900px;

@mixin medium-screen {
  @media screen and (min-width: $sm) and (max-width: $md) {
    @content;
  }
}

@mixin large-screen {
  @media screen and (min-width: $md) {
    @content;
  }
}

@mixin small-screen {
  @media screen and (max-width: $sm) {
    @content;
  }
}
