* {
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 100vw;
  flex-grow: 1;
}

.square {
  display: flex;
  min-height: 200px;
  flex-grow: 1;
}

.square1 {
  background-color: #ff7f50;
}

.square2 {
  background-color: #006400;
}

.square3 {
  background-color: #0ff;
}

span {
  text-transform: lowercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 8px;
  background-color: #faebd7;
  border-radius: 4px;
  margin: auto;
}

@media screen and (min-width: 600px) and (max-width: 899px) {
  .main-content {
    display: flex;
    flex-direction: row;
    width: 100vw;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .square {
    display: flex;
    width: 100vw;
  }
}

@media screen and (min-width: 900px) {
  .container {
    display: flex;
    flex-direction: row;
  }
  .main-content {
    display: flex;
    width: calc(100vw / 3 * 2);
  }
}

@media screen and (max-width: 599px) {
  .container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .square {
    display: flex;
    flex-grow: 1;
    width: 100vw;
  }
}
