.header {
  height: 40px;
  background-color: yellow;
  display: flex;
  align-items: center;
}
.menu {
  margin: 0px;
  display: flex;
  list-style-type: none;
}
.list_item {
  margin-right: 16px;
}
.footer {
  display: flex;
  height: 40px;
  background-color: green;
  margin: 0;
  align-items: center;
  justify-content: center;
}
.page {
  display: flex;
  flex-direction: column;
}
.content {
  display: flex;
  background-color: pink;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
.sidebar {
  background-color: grey;
  width: 200px;
  align-content: center;
}
.news_item {
  margin-left: 16px;
  line-height: 40px;
}
.text-block {
  display: flex;
}
.title_news {
  text-align: center;
}
