.header {
  height: 40px;
  background-color: yellow;
  display: flex;
  align-items: center;
  margin: 0;
}

.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  list-style-position: inside;
}
.list_item {
  margin-right: 16px;
}
.footer {
  display: flex;
  height: 40px;
  background-color: green;
  margin: 0;
  align-items: center;
  justify-content: center;
}
.footer_text {
  margin: auto;
}
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main_block {
  display: flex;
  flex-grow: 1;
}
.dashboard {
  background-color: pink;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar {
  display: flex;
  flex-direction: column;
  background-color: grey;
  width: 200px;
}
.news_list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  list-style: none;
  margin: 0;
}

.news_item {
  margin-left: 16px;
  line-height: 40px;
}

.title_news {
  text-align: center;
  margin: 16px;
}
