[target='_blank'] {
  color: green;
}
.list-highlighted {
  background-color: yellow;
}
.bordered-title {
  border: 3px dashed blue;
}
.title-highlighted {
  margin-left: 20 px;
}
article.new {
  font-size: 24 px;
}
li.new {
  background-color: red;
}
.new.posted-today {
  text-decoration: underline pink;
}
