@font-face {
  font-family: 'Roboto';
  src: url('roboto.eot'); /* IE9 Compat Modes */
  src: url('roboto.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('roboto.woff') format('woff'),
    /* Modern Browsers */ url('roboto.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('roboto.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
  margin: 32px;
  font-family: 'Roboto', sans-serif;
}
h1 {
  word-spacing: 20px;
  text-align: center;
}
p {
  line-height: 28px;
}
p::content(HTML CSS) {
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 24px;
  opacity: 80%;
  text-decoration: underline;
}
href {
  text-decoration: none;
}

em:lang(eng) {
  font-family: cursive;
  color: grey;
}
