header, footer {
    height: 50px;
}

main, .sidebar {
    height: 500px;
}

header {
    background-color: yellow;
}

footer {
    background-color: green;
}

main {
    position: relative; 
    width: 80%;
    float: left;
    background-color: pink;
}

.sidebar {
    position: relative;
    width: 20%;
    float: left;
    background-color: grey;
}

.footer {
    box-sizing: border-box;
    clear: both;
}